[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
.vs/
.vscode/
.idea/
*.csproj
*.unityproj
*.sln
*.user
*.suo
*.tmp
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.bak
*.orig
*.swp
*.swn
.DS_Store
Thumbs.db
